.home {
  min-height: 100vh
}

.header {
  border-bottom: 1px solid #e0e0e0;
}

.header div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 3rem;
  max-width: 1440px;
  padding: 0 1rem;
  margin-inline: auto;
}

.header span {
  font-size: 1.4rem;
  font-weight: 600;
}

.hero {
  padding: 4rem 1rem;
  text-align: center;
}

.hero_container {
  text-align: center;
  max-width: 56rem;
  padding: 0 2rem;
  margin-inline: auto;
}

.hero h1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero h1 span {
  color: var(--primary-color);
}

.hero_text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 42rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.search_footer {
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.tips {
  padding: 1rem 1rem 3rem;
}

.main {
  padding: 1rem 1rem 5rem;
}

.main_container {
  max-width: 88rem;
  margin-inline: auto;
  padding: 0rem 2rem;
}

.results {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem;
  text-align: center;
}

.dialog p {
  font-size: 2rem;
  font-weight: 600;
}