.home {
  min-height: 100vh
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-bottom: 1px solid black;
}

.hero {
  padding: 4rem 1rem 3rem;
  text-align: center;
}

.hero_container {
  text-align: center;
  max-width: 56rem;
  padding: 0 2rem;
  margin-inline: auto;
}

.hero h1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero h1 span {
  color: var(--primary-color);
}

.hero_text {
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 42rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.main {
  padding: 0rem 1rem 5rem;
}

.main_container {
  max-width: 88rem;
  margin-inline: auto;
  padding: 0rem 2rem;
}