.home {
  min-height: 100vh
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid black;
}

.hero {
  padding: 4rem 1rem 3rem;
  text-align: center;
}

.heroContainer {
  text-align: center;
  max-width: 56rem;
  padding: 0 2rem;
  margin-inline: auto;
}

.hero h1 {
  font-size: 3.75rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.hero h1 span {
  color: #0ea5e9;
}

.hero p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  max-width: 42rem;
  margin-inline: auto;
  margin-bottom: 2.5rem;
}