.tips_container {
  max-width: fit-content;
  margin-inline: auto;
  padding: 0 2rem;
}

.header {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.row {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

